body
{	background-color: #FAC810;

}

p
{	text-align:justify;
}

hr.result
{	margin-top:3px;
	margin-bottom:5px;
	color:#1E92D0;
	border-top:2px solid;
	/*
	*/
}

div.topbanner
{	background-color:#8BC540;
	width:100%;
	padding-top:25px;
	margin-bottom:25px;
}

div.searchcol
{	padding-bottom:30px;
}

*.srslyfit
{	max-width:100%;
}

/*	***** COLORS *****
	Blue: #1E92D0
	Red: #E42225
	Yellow: #FAC810
	Pink: #ED0D85
	Green: #8BC540
*/

input#Take-Picture
{	visibility:hidden;
	height:1px;
	padding:0;
	border:0;
	margin:0;
}
canvas#bc_img_canvas
{	display:none;
	/* display: inline-block; */
}
h4#company_name
{	margin-bottom:5px;
}