body
{	background-color: #FAC810;

}

p
{	text-align:justify;
}

div.topbanner
{	background-color:#8BC540;
	width:100%;
	padding-top:25px;
	margin-bottom:25px;
}

div.searchcol
{	padding-bottom:30px;
}

.bcimg
{	height:38px;
}

*.srslyfit
{	max-width:100%;
}
	
/*	***** COLORS *****
	Blue: #1E92D0
	Red: #E42225
	Yellow: #FAC810
	Pink: #ED0D85
	Green: #8BC540
*/

div#searchresult
{	display:none;
}
h4#company_name
{	margin-bottom:5px;
}
/*
span#company_score
span#upc
span#product_name
p#query_message
*/